body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('https://cdn.pixabay.com/photo/2019/12/09/06/20/web-4682708_1280.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden; /* Prevent scrollbars */
	position: relative; /* Ensure the particles background fits the entire body */
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

nav {
	width: 95%;

	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	z-index: 2;
  }
  
  nav .brand {
	color: #fff;
	font-size: 2em;
	font-weight: bold;
  }
  
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  nav ul li {
	margin-left: 20px;
  }
  
  nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
  }
  
  nav ul li a:hover {
	text-decoration: underline;
  }

.content {
	z-index: 1;
	position: relative;
}

h1 {
	font-size: 2em;
	color: #fff; 
	overflow: hidden; 
	white-space: nowrap; /* Keeps the text on a single line */
}
  
button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 1em;
	color: #000000;
	background-color: none;
	border: 1px solid #ffffff;
	border-radius: 5px;
	cursor: pointer;
}
  
button:hover {
	background-color: #022449;
	color:white
}

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

section {
	position: relative;
	z-index: 3;
	padding-top: 50px;
	padding-bottom: 50px;
}

.container{
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	margin-left: 20px;
	margin-right: 20px;
}

.section-header{
	margin-bottom: 50px;
	text-align: center;
	color :azure;
}

.section-header h2 {
	color: #fff;
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 20px;
}
 
.section-header p {
	color: white;
	font-size: 2em;;
}

.raw {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.contact-info {
	width: 150%;
}

.contact-info-item {
	display: flex;
	margin-bottom: 30px;
}

.contact-info-icon {
	height: 70px;
	width: 70px;
	background-color: #fff;
	text-align: center;
	border-radius: 50%;
}

.contact-info-icon i {
	font-size: 30px;
	line-height: 70px;
}

.contact-info-content {
	margin-left: 20px;
}

.contact-info-content h4 {
	color: white;
	font-size: 1.4em;
	margin-bottom: 5px;
}

.contact-info-content p {
	color: white;
	font-size: 1em;
}
